project_name         = "stroystandart"
hcloud_token         = "YOUR_HETZNER_TOKEN"
cloudflare_api_token = "YOUR_CLOUDFLARE_API_TOKEN"
cloudflare_zone_id   = "YOUR_CLOUDFLARE_ZONE_ID"
domain_name          = "example.com"
subdomain            = "office"
server_type          = "cx22"
location             = "fsn1"
image                = "ubuntu-24.04"
ssh_public_key       = "ssh-ed25519 AAAA... stroystandart-cloud"
repo_url             = "https://github.com/nikolayabelyan-beep/Stroystandart.git"
repo_branch          = "main"
app_dir              = "/opt/stroystandart"

